:root {
  --title-text-color: #212121;
  --main-text-color: #757575;
  --second-text-color: #ffffff;
  --accent-color: #2196f3;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

body {
  color: var(--main-text-color);
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: inherit;
}

.section {
  padding: 94px 0;
}

/* HEADER */
.header {
  border-bottom: 1px solid #ececec;
  padding-top: 24px;
  padding-bottom: 24px;
}

.header-logo {
  margin-right: 93px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.header-logo-second-color {
  color: #000000;
}

.header-nav {
  display: flex;
}

.main-nav {
  display: flex;
  align-items: center;
}

.header-nav-list-item {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  margin-right: 50px;
}

.header-nav-list-item:last-child {
  margin-right: 0;
}

.header-nav-list-item:focus {
  color: var(--accent-color);
}

.header-nav-accent {
  color: var(--accent-color);
}

.header-contact {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}

.header-contact-list {
  display: flex;
  margin-left: auto;
}

.header-contact-list .header-contact + .header-contact {
  margin-left: 50px;
}

.header-contact:hover,
.header-contact:focus {
  color: var(--accent-color);
}

.header-link {
  display: flex;
  align-items: center;
  fill: var(--main-text-color);
}

.header-contact-icon {
  margin-right: 10px;
}

.header-link:hover,
.header-link:focus {
  fill: var(--accent-color);
}

/* HERO */
.hero {
  height: 600px;
  max-width: 1600px;
  margin: auto;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    url(../images/background.jpg);
  background-color: #c4c4c4;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-tittle {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--second-text-color);
}

.hero-btn {
  display: block;
  margin: 30px auto 0;
  padding: 10px 32px;
  min-width: 200px;
  border-radius: 4px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background: #2196f3;
  color: var(--second-text-color);
  cursor: pointer;
}

/* VALUES */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.values {
  padding-bottom: 0;
}

.values-list {
  display: flex;
}

.values-list .values-list-item + .values-list-item {
  margin-left: 30px;
}

.values-list-item {
  width: 270px;
}

.values-block-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.values-item-tittle {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.values-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

/* ABOUT */
.about-tittle {
  display: block;
  margin: 0 auto 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.about-list {
  display: flex;
}

.about-list > .about-list-item + .about-list-item {
  margin-left: 30px;
}

/* TEAM */
.team {
  background: #f5f4fa;
}

.team-tittle {
  display: block;
  margin: 0 auto 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.team-list {
  display: flex;
}

.team-list-item {
  border-bottom: 1px solid transparent;
  border-radius: 0 0 4px 4px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-img {
  display: block;
}

.team-item-tittle {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.team-list > .team-list-item + .team-list-item {
  margin-left: 30px;
}

.team-card-text {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-item-text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin-bottom: 16px;
}

.team-social-list {
  display: flex;
  justify-content: center;
}

.team-social-item {
  width: 44px;
  height: 44px;
}

.team-social-item + .team-social-item {
  margin-left: 10px;
}

.team-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--accent-color);
  fill: #ffffff;
}

.team-social-icon {
  fill: #afb1b8;
}

.team-social-link:hover .team-social-icon,
.team-social-link:focus .team-social-icon {
  fill: #ffffff;
}

/* CLIENTS */

.clients-tittle {
  display: block;
  margin: 0 auto 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.clients-list {
  display: flex;
}

.clients-item {
  width: 170px;
  height: 92px;
}

.clients-item + .clients-item {
  margin-left: 30px;
}

.client-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
}

.client-link:hover,
.client-link:focus {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}

.client-icon {
  fill: currentColor;
}

/* PORTFOLIO */

.portfolio-btn {
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  cursor: pointer;
  border: transparent;
  border-radius: 4px;
}

.btn:hover,
.btn:focus {
  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-filter > .portfolio-filter-item + .portfolio-filter-item {
  margin-left: 8px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.portfolio-link {
  display: block;
}

.portfolio-items {
  flex-basis: calc((100% - 3 * 30px) / 3);
  margin-left: 30px;
  margin-top: 30px;
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-img {
  display: block;
}

.portfolio-tittle-items {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.portfolio-card-text {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

/* FOOTER */
.footer {
  padding: 60px 0;
  height: 252px;
  background-color: #2f303a;
}

.footer-logo {
  display: block;
  margin-bottom: 30px;

  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.footer-logo-second-color {
  color: var(--second-text-color);
}

.footer-address {
  font-style: normal;
}

.footer-map {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.footer-contact {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-address-social {
  display: flex;
  align-items: baseline;
}

.footer-social {
  margin-left: 70px;
}

.footer-social-list {
  display: flex;
}

.footer-tittle-social {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.team-social-list {
  display: flex;
  justify-content: center;
}

.footer-social-item {
  width: 44px;
  height: 44px;
}

.footer-social-item + .footer-social-item {
  margin-left: 10px;
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--accent-color);
  fill: #ffffff;
}

.footer-social-icon {
  fill: currentColor;
}
